@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie|Roboto+Slab');
/* inspiration: https://webdesign.tutsplus.com/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934t */

:root {
  font-family:'Roboto Slab';
  color-scheme: light dark;
  background-color: rgb(219, 219, 219);                  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-flow .react-flow__handle {
  width: 2.5em;
  height: 0.8em;
  border-radius: 3px;
  border: none;
  background-color: #f6edc3;
  rotate: 2deg;
}

.react-flow .react-flow__edge {
  color: red;
}

.react-flow .react-flow__handle-top {
  top: -0.3em;
}

.react-flow .react-flow__handle-bottom {
  bottom: -0.3em;
}

/* https://stackoverflow.com/questions/7079301/how-do-i-format-the-scrollbar-style-on-a-textarea */
textarea::-webkit-scrollbar {
  width: 0.2em;
}
textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  cursor: pointer;
}

/* NOTE: following sacrifices accessibility for pretty CSS in textareas */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button, input {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 9px;
  border-radius: 10px;
  background-color: #fbf7f5;
  border: 1px solid #000;
  color: black;
  cursor: pointer;
  border-bottom: 3px solid #000;
}

.briefButton {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 9px;
  /* border-radius: 7px; */
  /* background-color: rgb(219, 219, 219); */
  border: none;
  color: black;
  cursor: pointer;
  height: min-content;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: x-large;
}

button {
  height: 3em;
}

.brief {
  position: relative;
  width: 50em;
}

.brief, .briefInputs { 
  font-size: small;
  background-color: #fbf7f5;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  border-bottom: 3px solid #000;
}

.briefInputs {
  width: 8em;
  padding: 5px;
  border-radius: 3px;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  border-bottom: 2px solid #000;
}

.panel {
  z-index: 99;
  position: absolute;
  left:0;
  top: 0;
  color: black;
  display:flex;
  flex-direction: row;
  gap: 1em;
  float:inline-start;
}

.loader, img {
  width: 3em;
  height: 3em;
  z-index: 99;
  bottom: 0;
  padding: 1em;
  /* background-color: #fbf7f5; */
  color: black;
  gap: 1em;
  /* border: 1px solid #000; */
  position: fixed; overflow-y: auto;
}

/* https://stackoverflow.com/a/23985078/21372215 */
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0.5; }
  100% { opacity:1; }
}
.loader {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}

#loaderImg {
  width: 5em; height: 5em;
}

.personasContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px; /* Adjust the gap as needed */
}

.persona {
  display: flex;
  align-items: center;
}

/*.persona img {
  max-width: 100px; 
  margin-right: 10px; 
}*/

.personaImgs {
  width: 5em;
  height: 5em;
  z-index: 99;
  position: relative;
  cursor: pointer;
  /* filter: grayscale(); */
}

.menu {
  width: 15em;
  z-index: 99;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fbf7f5;
  color: black;
  /* display:list-item; */
  padding: 3em;
  padding-bottom: 3em;
  /* flex-direction: column; */
  gap: 1em;
  border: 1px solid #000;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  position: fixed; overflow-y: auto;
}

.menu .close-menu {
  cursor: pointer;
}

.art-buttons {
  display: grid;
  row-gap: 1em;
  float: left;
}
.art-buttons > button {
  width: 12em;
  height: 3.5em;
}

/* div */
.post-it-node {
  border-color: #213547;
  background-color: peachpuff;
  resize: both;
  padding: 0.5em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7); 
}

.child {
  position: absolute;
  left: 10%;
  bottom: 50%;
  height: 120em;
  width: 120em;
  z-index: -1;
}

/* text area */
.post-it-text {
  background: transparent;
  font-family:'Reenie Beanie';
  font-size: x-large;
  border-color: transparent;
  color: black;
  padding: 1em;
  resize:none;
  height: 4em;
  width: 4em;
}

.curr-node {
  height: 10em;
  padding-bottom: 1em;
  width: 10em;
}

.curr-node-text {
  /* padding: 1em; */
  height: 5em;
  width: 5em;
  /* resize: both; */
}

.multipleSelection {
  font-size: xx-small;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

